<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>827398103699-voa2ofadjk2fc1vcrmi7vkshacni41b6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827398103699-voa2ofadjk2fc1vcrmi7vkshacni41b6</string>
	<key>API_KEY</key>
	<string>AIzaSyCTK9m8bZwk4KaVPtwnkIqBl64n0h_zqZo</string>
	<key>GCM_SENDER_ID</key>
	<string>827398103699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>root.rabbitjourney</string>
	<key>PROJECT_ID</key>
	<string>rabbit-s-journey</string>
	<key>STORAGE_BUCKET</key>
	<string>rabbit-s-journey.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827398103699:ios:1a7db7841f54e4cf</string>
	<key>DATABASE_URL</key>
	<string>https://rabbit-s-journey.firebaseio.com</string>
</dict>
</plist>